.Booking {
  padding: 3rem 2rem;
  font-size: 1.5rem;

  .hotel {
    padding: 0;
    margin: 0 0 3rem 0;

    background: #fff;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cols {
      display: flex;
      height: 100%;

      .col:nth-child(1) {
        width: 40%;
      }
      .col:nth-child(2) {
        width: 55%;
        margin-left: 5%;
      }

      .image-container {
        width: 100%;
        background-repeat: no-repeat, repeat;
        background-size: cover;
        background-position: center center;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #666;
        line-height: 1.2;
      }
      h5 {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 0;
        color: #999;
        font-weight: bold;
        line-height: 1.2;
      }
      h3 {
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
      }
      small {
        font-size: 1.4rem;
        color: #999;
      }

      .col:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  hr {
    margin: 0 0 3rem 0;
  }

  section {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #6e6d6e99;
  }

  .control {
    width: 100%;
    margin-bottom: 2rem;

    label {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.5rem;

      &.required::after {
        content: "*";
        color: $error;
        padding-left: 3px;
      }
    }
    input {
      width: 100%;
      min-width: 99%;
      padding: 1.5rem 1rem;
      background: #fff;
      border: 1px solid #6e6d6e;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  button {
    width: 100%;
    display: block;
    padding: 2rem;
  }

  .error {
    input {
      border: 1px solid $error;
      margin-bottom: 5px;
    }
  }

  .error-text {
    color: $error;
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
}
